<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start - College Predictor</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .btn-start {
      height: 120px;
      width: 600px;
      font-size: 35px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #0d6efd;
      color: white;
      text-align: center;
      padding: 10px 0;
    }
  </style>
</head>
<body>



  <!-- Centered Button -->
  <div class="d-flex justify-content-center align-items-center vh-100">
    <button class="btn btn-primary btn-lg px-5 py-3 shadow-lg btn-start" onclick="window.location.href='/form'">
      Track Your Dream College Now !
    </button>
  </div>



</body>
</html>
